<ul>
    <li><a class="active" href="/">Common Hero</a></li>
    <li style="float:right"><a href="/login">Log in</a></li>
    <li style="float:right"><a href="/profile"> profile </a></li>
    <li style="float:right"><a href="/register"> register </a></li>

</ul>
    