<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SERVICE AT <%= provider.name %></title>
</head>
<body>
    <h3>SERVICE AN ITEM AT <%= provider.name %> </h3>
    <h5>yours item</h5>
    <select name="" id=""></select>
    <form action="" method="POST">
        <button type="submit">
            SERVICE NOW !
        </button>
    </form>
</body>
</html>