<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>COMMON HEROES</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 30%;
        }
        
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <button><a href="/">COMMON HEROES</a></button>

    <button><a href="/register">REGISTER</a></button>
    <button><a href="/login">LOGIN</a></button>

    <button><a href="/profile">PROFILE</a></button>
 
    <table>
        <h2>OUR PARTNERS</h2>
        <tr>
            
            <th>STORE</th>
            <th>Category</th>
           
        </tr>
        <% dataProviders.forEach(function(provider){ %>
            <tr>
                
                <td><a href="/provider/store/<%= provider.id %>"><%= provider.name %></a></td>
                <td> <%= provider.Category.name %> </td>
                
                
                
            </tr>
        <% }) %>
    </table>


</body>
</html>