<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include partials/basicTheme.ejs %>
    <title>COMMON HEROES</title>
</head>
<body>
        <% include partials/navbar %>

    <h3>LOGIN USER</h3>
    <h2> <%= error %> </h2>
    <form action="/login/" method="POST">
        <label for="username"> Username : </label>
        <input type="text" name="username">
    
        <label for="password"> Password : </label>
        <input type="password" name="password">
    
        <button> LOGIN </button>
    </form>

    <button><a href="/register"> daftar </a></button>
</body>
</html>